<div id="<%= dom_id comment %>">
  <p>
    <%= comment.created_at %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= User.find_by(id: comment.user_id).name %>
  </p>


</div>
