<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div class="img_container d-flex justify-content-center">
  <% @posts.each do |post| %>
    <div class="img_back"><%= link_to image_tag(post.featured_image), post, class: "img_back" %></div>
  <% end %>
</div>
