body {
  background-color: #f1f5f9;
}

img {
  max-width: 100%;
  max-height: 100%;
}
input {
  border-radius: 5px;
  border-color: #212529;
  margin: 5px;
}
label {
  font-weight: bold;
}
.img_back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #212529;
}
.img_container {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(200px));
  gap: 4px;
  justify-content: center;
}
.modal_container {
  display: flex;
  flex-direction: column;
}
.comment_container {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 3px;
  padding-left: 10px;
  padding-top: 10px;
}
.user_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.setting_wheel {
  text-decoration: none;
}
.signin_link {
  font-size: 2rem;
  text-decoration: none;
}
.user_link {
  text-decoration: none;
  color: #000;
}
.user_link:hover, .setting_wheel:hover, .signin_link:hover {
  opacity: 70%;
}
p {
  margin-bottom: 0;
}
.eyrie_face {
  position: absolute;
  top: 100px;
  left: 20px;
}



/* Curve Stuff */

.custom-shape-divider-bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-menu svg {
  position: relative;
  display: block;
  width: calc(186% + 1.3px);
  height: 174px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-menu .shape-fill {
  fill: #F1F5F9;
}

.custom-shape-divider-top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-navbar svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 114px;
  z-index: -1;
}

.custom-shape-divider-top-navbar .shape-fill {
  fill: #212529;
}