<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p>Here is your invite to onlyfams.photos</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<p> If you have any issues, email me at mo@cptmo.dev</p>